* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}


.but:hover{
    color: white;
}

a:hover{
    border-bottom: 2px solid black;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.carousel{
    margin-bottom: 30px;
}
